@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Muli', sans-serif;
	font-size:14px;
}

#home{
	background:url(../images/banner.png)repeat-x center top fixed; 
	background-color:#9bc0b7; 
}

/*navigation part*/

.navgation{
	background-color:#9bc0b7;

}
#logos{
	float: left;
	height: 60px;
	width: 50px;
}
.navbar-header{
	background-color:#9bc0b7; 
}

.navbar-default .navbar-nav>li>a{
	margin-left: 50px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
div#bs-example-navbar-collapse-1{
	background-color:#9bc0b7; 
}
#navbarmain{
	margin-left: auto;  
    margin-right: auto;
	display: table;
}
.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top{
	border-style: none;
}
#banner{
	margin-left: 100px;
	margin-top: 220px;
	height:200px;
	}
#bannertext{
	font-size: 40px;
	font-weight:bolder;
	color:#fff;
}

/*about part*/
#about{
	height: 800px;
	background-color:#fff;
	margin-top: 130px;
	position:relative;
	box-shadow:0,0,7px rgba(0,0,0,2);
	width: 100%;
}

#iner{
	text-align: center;
	height: 410px;
}

#aboutme{
	margin-top: 30px;
}
#aboutmep{
	height: 50px;
	font-size: 20x;
	font-weight: bolder;
	border-color:#c1d1cd;
	border-bottom-style: double;
}
#infor{
	margin-top: 20px;
}

/*skills*/
#skill{
	background-color: #3d848c;
	height: 600px;
}

#skilltitle>p{
	margin-top: 30px;
	font-size: 30px;
	color: #fff;
	text-align: center;
}

#tabs{
	padding: 20px 50px;
	margin-left: -20px;
	text-align: center;
	list-style: none;
}
#tabs ul li{
	height: 80px;
	width: 100px;
	font-size: 16px;
	background: none;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
#tabs ul li a{
	display: table;
	margin-right: 40px;
	border:2px solid;
	border-radius:5px;;
	text-decoration: none;
	color: #fff;
}
#tabs ul li a link{
	border:none;
	text-decoration: none;
	color: #fff;
}
:focus{
	outline:none;
}
a:focus{
	outline:none;
}
#tabs ul li a visited{
	border:none;
	text-decoration: none;
	color: #fff;
}
#tabs ul li a hover{
	border:none;
	text-decoration: none;
	color: #fff;

}
#tabs ul li a active{
	border:none;
	text-decoration: none;
	color: #fff;
}

#tabs-1 {
	color: #fff;
}
#tabs-2{
	color: #fff;
}
/*graphic*/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
  box-shadow: 1px 1px 1px gray;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  font-family: Century Gothic, Sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}



/*code*/


/*foot*/
#footid{
  	background-color: white;
	position:relative;
	height:auto; 
}
#forcenter{
	float: left;
	height: 50px;
	width: 150px;

}
#footp{
	float: left;
	margin-top: 15px;
}

/*css3 rotate*/
#logofootimg{
	margin-left: 0 auto;
	margin-right: 0 auto;
	float:left;  
    display:block;  
	background-image:url(../images/logofoot.png);
    margin-top:5px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-animation: rotate 5s linear;
    -moz-animation:rotate 5s linear;
    -o-animation:rotate 5s linear;
    -webkit-animation-iteration-count: infinite;

}

@-webkit-keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg)}}
@-ms-keyframes rotate{
from{-ms-transform:rotate(0deg)}
to{-ms-transform:rotate(360deg)}}
@-o-keyframes rotate{
from{-o-transform:rotate(0deg)}
to{-o-transform:rotate(360deg)}}





/*portfoilo css*/
#bgvideo{
	margin:0 auto;
	padding:0 auto;;
}
#whatido{
	color: #fff;
	font-size: 50px;
	font-weight: bolder;
	margin-top: 200px;
}
#pp{
	margin-left: 220px;

}
/*video background*/
video#bgvid  {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
}



#mianbg{
	background-color:rgba(164,196,188,0.6);
	height:auto;
}
#inermain{
	height:auto;
}
#innernav{
	margin-left: auto;  
    margin-right: auto;
	display: table;
	color: rgba(38,116,125,0.5);
}
#innernav ul{
	margin: 0 auto;
	padding:20px;
	list-style: none;
	display: table;

}

#innernav ul li{
	font-size: 16px;
	color: #fff;
	display: inline-block;
	text-align: center;
	padding: 12px 25px;
	cursor: pointer;
}
#innernav ul li a{
	text-decoration: none;
	color: #fff;
}
#innernav ul li a link{
	text-decoration: none;
	color: #fff;
}

#innernav ul li a visited{
	text-decoration: none;
	color: #fff;
}
#innernav ul li a hover{
	text-decoration: none;
	color: #fff;

}
#innernav ul li a active{
	text-decoration: none;
	color: #fff;
}


/*foilo part*/
#folio{
	margin-top: 100px;
}
#photoshop{
	margin-bottom: 40px;
	float: none;   
    margin-left: auto;  
    margin-right: auto;
	display: table;
}
#ps1{
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#ps2{
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;	
}
#ps3{
	margin-top: 30px;
	padding: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}


#video{
	margin-bottom: 40px;
	float: none;   
    margin-left: auto;  
    margin-right: auto;
	display: table;
}
#vd1{
	margin-top: 30px;
	padding: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#vd2{
	margin-top: 30px;
	padding: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#vd3{
	margin-top: 30px;;
	padding: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#website{
	margin-bottom: 40px;
	float: none;    
    margin-left: auto;  
    margin-right: auto;
	display: table;
}
#web1{
	margin-top: 30px;
	padding: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#web2{
	margin-top: 30px;
	padding: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#web3{
	margin-top: 30px;
	padding: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#other{
	margin-bottom: 40px;
	float: none;    
    margin-left: 50px; 
    margin-right: auto;
	display: table;
}
#o1{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#o2{
	margin-top: 30px;
	padding: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#o3{
	margin-top: 30px;
	padding: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}
#o4{
	margin-top: 30px;
	padding-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height: 280px;
}

#hover {
  color: rgba(188, 175, 204, 0.9); 
}

/* generic css */
.view {
	margin-left:-15px;
	margin-top: -10px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff  no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
	margin-top: 15px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
	margin-top: 8px;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
}
.view a.info {
	margin-top: 8px;
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}


.view-second img {  
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}
.view-second .mask { 
    background-color: rgba(12, 19, 27, 0.6); 
    width: 920px;
    padding: 105px;
    height: 800px;
    opacity: 0;
    transform: translate(800px, 250px) rotate(80deg);
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
   -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view-second p { 
    transform: translate(-200px, 200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.view-second a.info { 
    transform: translate(0px, 100px);
    -webkit-transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
    -webkit-transition: all 0.2s 0.1s ease-in-out;
} 

/* */

.view-second:hover .mask { 
    opacity:1; 
    transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg);
}                             
.view-second:hover h2 { 
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    transition-delay: 0.3s; 
    -webkit-transition-delay: 0.3s; 
}
.view-second:hover p { 
    transform: translate(0px,0px); 
    -webkit-transform: translate(0px,0px); 
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
}
.view-second:hover a.info { 
    transform: translate(0px,0px); 
    -webkit-transform: translate(0px,0px); 
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}



#contact{
	background-color: #c4d7d2; 
}

#form{
	margin-top: 100px;
	height: 800px;

}
#contactme{
	background-image: url(../images/contactme.png);
	height: 800px;
}


#akl img{
	background-color: #fff;
	text-align: center;
	

}
#information{
	height: 797px;
	background-color: #fff;
}
#information img{
	margin-left:-25px;
	margin-top:295px;
}
#inforcontact{
	line-height: 40px;
	display: table;
	margin-left: 200px;
	margin-top: 270px;
	font-size: 18px;
	text-align: center;
	}
#mailto a{
	text-decoration:none;
	color:#6f9c99ï¼›
	}


#cv a{
	color:#fff;
	background-color:#9bc0b7;
	border:2px #9bc0b7 solid;
	border-radius: 10px;
	font-size: 20px;
	text-decoration:none;
}
#google{

	height: 40px;
	width: 40px;
}
#behance{
	margin-left:8px;
	height: 40px;
	width: 40px;
}

#github{
	margin-left:8px;
	height: 40px;
	width: 40px;
}

#linked{
	margin-left:8px;
	height: 40px;
	width: 40px;
}

#facebook{
	margin-left:8px;
	height: 40px;
	width: 40px;
}

#google{
	height: 40px;
	width: 40px;
}


#cfootid{
	margin-top: -200px;
}
#i1{
	margin-top: 20px;
	height: 40px;
	width: 40px;
}
#i2{
	margin-top: 20px;
	height: 38px;
	width: 38px;
}

.hidden {
    display: none;
}
.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}
.panel.panel-default {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.message {
    padding: 15px; 
    margin: 0;
}
/*button*/
.button {
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #3d3d3d;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

.hover-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.hover-shadow:hover {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.hover-shadow:hover:before {
  opacity: .4;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
